:root {
  --color-brand--1: rgb(58, 167, 218);
  --color-brand--2: rgb(255, 209, 0);

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 2.5vh;

  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/*ALERT*/

.alert {
  font-size: 2.3vh;
  color: var(--color-dark--1);
}

/* SIDEBAR */
.sidebar {
  flex-basis: 15%;
  background-color: var(--color-dark--1);
  padding: 5vh 5vh 4vh 5vh;
  display: column;
  flex-direction: column;
}

.logo {
  height: 5.2vh;
  align-self: center;
  margin-bottom: 4vh;
}

.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5vh 2.25vh;
  margin-bottom: 1.75vh;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75vh 1.5vh;
}
.workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

.workout__title {
  font-size: 1.7vh;
  font-weight: 600;
  grid-column: 1 / -1;
}

.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__icon {
  font-size: 1.8vh;
  margin-right: 0.2vh;
  height: 0.28vh;
}

.workout__value {
  font-size: 1.5vh;
  margin-right: 0.5vh;
}

.workout__unit {
  font-size: 1.1vh;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5vh 2.75vh;
  margin-bottom: 1.75vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5vh 2.5vh;

  /* Match height and activity boxes */
  height: 9.25vh;
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30vh);
  height: 0;
  padding: 0 2.25vh;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5vh;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3vh 1.1vh;
  font-family: inherit;
  font-size: 1.4vh;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

.copyright {
  margin-top: auto;
  font-size: 1.3vh;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6vh;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5vh;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 10px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 10px solid var(--color-brand--1);
}

.btn {
  font-size: 1.5vh;
  display: grid;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}
